<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:websocket="http://www.springframework.org/schema/websocket"
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/websocket
	http://www.springframework.org/schema/websocket/spring-websocket-4.3.xsd">

	<context:component-scan base-package="gc.co.kr" />
	<tx:annotation-driven/>
    <mvc:annotation-driven />
	<mvc:default-servlet-handler />
	<mvc:view-resolvers>
	<mvc:jsp prefix="/WEB-INF/jsp/" suffix=".jsp" />
	</mvc:view-resolvers>
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	<property name="locations">
		<list>
			<value>classpath:config/prop/db.properties</value>
			<value>classpath:config/personal/email.properties</value>
		</list>
	</property>
	<property name="ignoreUnresolvablePlaceholders" value="true"/>
	<property name="fileEncoding" value="UTF-8" />
	</bean>
	
	<bean id="mailSender" 
			class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com" /> <!-- gmail을 사용 -->
        <property name="port" value="587" />
        <property name="username" value="${emailId}" />
		<property name="password" value="${emailPassword}" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.transport.protocol">smtp</prop>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.debug">true</prop>
            </props>
        </property>
    </bean>
	
	
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"> 
		<property name="driverClassName" value="${driver}"/>		
		<property name="url" value="${url}"/>
		<property name="username" value="${user}"/>
		<property name="password" value="${password}"/>
	</bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:config/mybatis/sqlMapConfig.xml"/>
		<property name="mapperLocations" value="classpath:config/sqlmap/oracle/*.xml"/>	
	</bean>
	
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory"/>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>	
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
	
	<websocket:handlers>
		<websocket:mapping handler="chattingHandler" path="/chatting"/>
		<websocket:sockjs></websocket:sockjs>
	</websocket:handlers>
	<bean id="chattingHandler" class="gc.co.kr.practice.handler.ChattingHandler"/>
	  
	<bean class="gc.co.kr.interceptor.SigninInterceptor" id="signinInterceptor" />
	<bean class="gc.co.kr.interceptor.SignoutInterceptor" id="signoutInterceptor" />
	<bean class="gc.co.kr.interceptor.MessageInterceptor" id="messageInterceptor" />
	<bean class="gc.co.kr.interceptor.AccountInterceptor" id="accountInterceptor" />
	 <mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/signin"/>
			<mvc:exclude-mapping path="/signup/**"/>
			<mvc:exclude-mapping path="/signcontract"/>
			<mvc:exclude-mapping path="/resources/**"/>
			<mvc:exclude-mapping path="/"/>
			<mvc:exclude-mapping path="/board"/>
			<mvc:exclude-mapping path="/ajax/**"/>
			<ref bean="signinInterceptor"/>
		</mvc:interceptor>
		
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<ref bean="messageInterceptor"/>
		</mvc:interceptor>
		
		<mvc:interceptor>
			<mvc:mapping path="/account/**"/>
			<mvc:exclude-mapping path="/account/create"/>
			<mvc:exclude-mapping path="/account/createLeagueAcc"/>
			<mvc:exclude-mapping path="/account/contract"/>
			<mvc:exclude-mapping path="/account/signin"/>
			<mvc:exclude-mapping path="/account/leagueSignin"/>
			<ref bean="accountInterceptor"/>
		</mvc:interceptor>
		
		
		<mvc:interceptor>
			<mvc:mapping path="/signin"/>
			<mvc:mapping path="/signcontract"/>
			<mvc:mapping path="/signup"/>
			<ref bean="signoutInterceptor"/>
		</mvc:interceptor>
				
	</mvc:interceptors> 
	
</beans>